.DS_Store
node_modules
/dist
/Swagger UI_files
swagger.json
Swagger UI.html
DEPLOYMENT_GUIDE.md
SEO_CHECKLIST.md
SEO_GUIDE.md
QUICK_REFERENCE.md

# local env files
.env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
